html {
   font-family: 'Open Sans',sans-serif;
   height: 100%;
   background-color: #eee;
   background-image: -webkit-linear-gradient(top, #efefef, #ddd);
   background-image:    -moz-linear-gradient(top, #efefef, #ddd);
   background-image:     -ms-linear-gradient(top, #efefef, #ddd);
   background-image:      -o-linear-gradient(top, #efefef, #ddd);
   background-image:         linear-gradient(to bottom, #efefef, #B0C8EA);
}

div {
   text-align: center;
   margin: 20px auto;
}

h1 {
   font-weight: 300;
   font-size: 2.5em;
   color: #444;
   text-shadow: 1px 1px 1px #999;
}

@media only screen and (max-width: 479px) {
   h1 {
      font-size: 1.8em;
   }
}

.main a {
   color: #fff;
   padding: 3px 8px;
   border-radius: 3px;
   background-color: #aaa;
   text-decoration: none;
   margin: 0 2px;
}

.main a:hover {
   color: #fff;
   background-color: #888;
   transition: 0.2s;
   -moz-transition: 0.2s;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
}

.social a {
   color: #aaa;
   width: 20px;
   padding: 2px 4px;
   display: inline-block;
   text-decoration: none;
   margin: 0 2px;
   border: 0;
   border-radius: 3px;
}

.social a:hover {
   color: #fff;
   background-color: #aaa;
   transition: 0.2s;
   -moz-transition: 0.2s;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
}

.contact.social a {
  width: auto;
  padding: 2px 6px;
}

.contact, .social {
  margin: 10px 0;
}

.main {
  margin-bottom: 50px;
}
